# Deep Learning
torch
transformers
accelerate
sentencepiece
protobuf
peft>=0.19.1

# Dataset
datasets

# Evaluation
evaluate
rouge-score
nltk
optuna

# Data Handling
pandas
numpy
scikit-learn

# Configuration
PyYAML

# Progress Bar
tqdm

# API
fastapi
uvicorn

# Utilities
python-box
ensure
joblib

# Jupyter Notebook
notebook
ipykernel
